@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Sixtyfour:BLED,SCAN@0..100,-53..100&display=swap');

$font-size: 30px;

body {
    font-family: "Grenze Gotisch", sans-serif;
    font-size: $font-size;
    font-weight: 100;
    background-color: rgb(7, 7, 7);
    color: aliceblue;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding:25px;
}

h2{
    font-size: 48px;
    font-weight: 600;
}

h2:not(:first-of-type) {
    margin-top: 125px;
}

p {
    margin:0;
    white-space: pre-line;
    line-height: 1.5;

    .y-gradient {
        font-weight: 400;
        background: linear-gradient(90deg, rgb(255, 251, 0), rgb(255, 174, 0));
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }
}

.move-on-mouse {
    font-variation-settings: "wght" 400, "wdth" 100;
}

.more-and-more{
    font-family: 'Sixtyfour', sans-serif;
    font-size: $font-size - 3px;
    font-weight: 400;
    font-variation-settings: "SCAN" -50, "BLED" 0;

    & p:nth-child(2) {
        font-variation-settings: "SCAN" -40;
    }
    & p:nth-child(3) {
        font-variation-settings: "SCAN" -30;
    }
    & p:nth-child(4) {
        font-variation-settings: "SCAN" -20;
    }
    & p:nth-child(5) {
        font-variation-settings: "SCAN" -10;
    }
    & p:nth-child(6) {
        font-variation-settings: "SCAN" 0;
    }
    & p:nth-child(7) {
        font-variation-settings: "SCAN" 10;
    }
    & p:nth-child(8) {
        font-variation-settings: "SCAN" 20;
    }
    & p:nth-child(9) {
        font-variation-settings: "SCAN" 30;
    }
}
.wacky{
    animation:  wacky infinite;
    animation-duration: 5s;
    animation-timing-function: ease;
    margin: 0 auto;
    font-weight: normal;

    :nth-child(2) {
    animation-delay: .1s
    }

    :nth-child(3) {
    animation-delay: .2s
    }

    :nth-child(4) {
    animation-delay: .3s
    }

    :nth-child(5) {
    animation-delay: .4s
    }

    :nth-child(6) {
    animation-delay: .5s
    }
}

@keyframes wacky  {
    0%   {font-variation-settings: "wght" 100, "wdth" 50 ; }
    25%   {font-variation-settings: "wght" 100, "wdth" 200; }
    50%   {font-variation-settings: "wght" 900, "wdth" 200; }
    75%   {font-variation-settings: "wght" 900, "wdth" 50;  }
    100% {font-variation-settings: "wght" 100, "wdth" 50 ;}
}

.breathe {
	font-weight: 100;
	font-variation-settings: 'wght' 100, 'wdth' 85;

    .char {
        --delay: calc((var(--char-index) + 1) * 400ms);
        animation: breathe 4000ms infinite both;
        animation-delay: var(--delay);
    }
}

@keyframes breathe {
	0% {
		font-variation-settings: 'wght' 100, 'wdth' 85;
	}
	60% {
		font-variation-settings: 'wght' 900, 'wdth' 100;
	}
	100% {
		font-variation-settings: 'wght' 100, 'wdth' 85;
	}
}