@font-face {
	font-family: "Blinker";
	src: url("../assets/Blinker.ttf") format("truetype");
}

body {
    font-family: "Blinker", sans-serif;
    font-size: 40px;
    font-weight: 400;
}

h2{
    font-size: 48px;
    font-weight: 600;
}

h2:not(:first-of-type) {
    margin-top: 125px;
}

p {
    margin:0;
}

.move-on-mouse {
    font-variation-settings: "wght" 400, "wdth" 100;
}